Django==1.7.2
Jinja2
MarkupSafe
Unidecode
argparse
brewer2mpl
django-bower
django-graphos
django-nvd3
django-websocket-redis
gevent
greenlet
mock
mongoengine
nose
numpy
prettyplotlib
pygal
pymongo
pyparsing
python-dateutil
python-nvd3
python-slugify
pytz
redis
seaborn
six
wsgiref
bottle
PyDispatcher
pyserial
cycler
supervisor
