<div class="modal fade" id="topologia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Topology</h4>
      </div>
      <div class="modal-body">
        <div id="topology-status"></div>
        <div class="text-center">
          <svg id="svg" align="center">
            <g transform="translate(20, 20)"/>
          </svg>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button onclick="updateForData();" class="btn btn-primary">Update</button>
      </div>-->
    </div>
  </div>
</div>