/*
svg {
  background-color: #357ebd;
  border: 0px solid black;
  overflow: hidden;
}

.node rect {
  stroke-width: 2px;
  stroke: #fff;
  fill: #fff;
}

#node-CLOSED rect {
  fill: #fff;
}

#node-ESTAB rect {
  fill: #fff;
}

.edgeLabel rect {
  fill: #fff;
}

.edgePath path {
  stroke: #fff;
  stroke-width: 2px;
  fill: #fff;
}
*/

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect {
  stroke: #333;
  fill: #fff;
  stroke-width: 1.5px;
}

.edgePath path.path {
  stroke: #333;
  fill: none;
  stroke-width: 1.5px;
}

.arrowhead {
 stroke: blue;
 fill: blue;
 stroke-width: 1.5px;
}